<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068011813609-nuvtdgk2m464ejtm3s0eholfcvu8qmir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068011813609-nuvtdgk2m464ejtm3s0eholfcvu8qmir</string>
	<key>API_KEY</key>
	<string>AIzaSyAeGEyOktok2AJTJJm0AcA5WWNTemPYIaM</string>
	<key>GCM_SENDER_ID</key>
	<string>1068011813609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FYPChatbot</string>
	<key>PROJECT_ID</key>
	<string>fyp-chatbot-6496a</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-chatbot-6496a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068011813609:ios:33aa1b78923e4a4699ce78</string>
	<key>DATABASE_URL</key>
	<string>https://fyp-chatbot-6496a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>